{% extends 'myprofile/base.html' %}
{% load static %}
{% block title %}Gita's Projects{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="header-project">

        <!-- Nav Bar -->
        {% include 'myprofile/navbar.html' %}

        <div class="container-fluid">
            <div class="project">

                <div class="d-flex align-items-center justify-content-center">
                    <i class="fas fa-laptop-code"></i>
                    <h3>My Projects</h3>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="projects">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 px-4 py-4">
                                <a href="https://github.com/gpersable/BudayaKB-Lite-v2.0" target="_blank"><img
                                        src="{% static 'myprofile/images/budaya.png' %}" alt="Budaya Knowledge Base"></a><br><br>
                                <h4>Budaya Knowledge Base Lite v2.0</h4>
                            </div>
                            <div class="col-lg-6 col-md-12 px-4 py-4">
                                <a href="https://github.com/gpersable/Timeline-Web-App" target="_blank"><img
                                        src="{% static 'myprofile/images/itfweb.png' %}" alt="Timeline Web App"></a><br><br>
                                <h4>Timeline Web App</h4>
                            </div>
                            <div class="col-lg-6 col-md-12 px-4 py-4">
                                <a href="https://github.com/gpersable/authentication-practice" target="_blank"><img
                                        src="{% static 'myprofile/images/secrets.png' %}" alt="Secrets"></a><br><br>
                                <h4>Secrets - Share your secrets anonymously</h4>
                            </div>
                            <div class="col-lg-6 col-md-12 px-4 py-4">
                                <a href="https://github.com/gpersable/color-sequence-game" target="_blank"><img
                                        src="{% static 'myprofile/images/simongame.png' %}" alt="Simon Game"></a><br><br>
                                <h4>Simon Game - A color sequence game</h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>

{% endblock %}