{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Gita's Website</title>
    <link href="https://fonts.googleapis.com/css?family=Abel|Kalam|La+Belle+Aurore|Montserrat|Open+Sans:300|Overpass"
        rel="stylesheet">

    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Font Awesome-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'story1/styles.css' %}">
</head>

<body><!-- foto kucing https://i.ibb.co/233rrsT/kocheng.jpg -->
    <div class="header">
        <a href="{% url 'myprofile:index' %}" class="fas fa-share"></a>
        <img src="https://drive.google.com/uc?id=1HgbDT_VrmozVHSkXlsoxh7k9vSaLHuN1" alt="Gita" width="200">
        <h1>Gita Permatasari Sujatmiko</h1>
        <p>1906400053</p>
        <p>CSUI 2019</p><br><br>
        <a class="btn btn-outline-light" href="#desc" role="button">Learn more about me</a>
    </div>

    <div id="desc" class="desc">
        <i class="fas fa-seedling"></i>
        <h3>Description</h3>
        <p>My name is Gita and I'm 19. I am currently pursuing Bachelor's degree in <a href="http://www.cs.ui.ac.id/" target="_blank" style="color:lightsalmon">Computer Science</a> 
            at the Faculty of Computer Science of
            Universitas Indonesia (University of Indonesia).</p>
        <p>I'm a student who is eager to develop many skills and learn something new. I'm also motivated to do works that conduce positive
            social impacts so that my knowledge can be beneficial for numerous people.</p>
        <p>I like cats and easy-to-eat food.</p>
    </div>

    <div class="education">

        <div class="d-flex align-items-center justify-content-center">
            <i class="fas fa-book-open"></i>
            <h3 class="montserrat">Education</h3>
        </div>

        <table>
            <tr class="ui">
                <td class="first-td">2019 - now</td>
                <td class="second-td"><p>Universitas Indonesia</p>
                    <p class="sub-td">Bachelor's degree in Computer Science</p></td>
            </tr>
            <tr class="sman3">
                <td class="first-td">2015 - 2018</td>
                <td class="second-td"><p>SMA Negeri 3 Bandung</p>
                    <p class="sub-td">Mathematics and Natural Sciences</p></td>
            </tr>
            <tr class="nassa">
                <td class="first-td">2006 - 2015</td>
                <td class="second-td">SD-SMP Nassa School</td>
            </tr>
        </table>

        </div>
            
        
    </div>

    <div class="hobby">
 
            <div class="d-flex align-items-center justify-content-center">
                <i class="fas fa-laptop-code"></i>
                <h3 class="montserrat">My Hobbies</h3>
            </div>
            <div class="hobbies">
                <div class="row">
                    <div class="col-lg-4 px-4 py-4">
                        <i class="fab fa-connectdevelop"></i><br>
                        <h4>Surfing the internet</h4>
                    </div>
                    <div class="col-lg-4 px-4 py-4">
                        <i class="fas fa-bed"></i><br>
                        <h4>Sleeping</h4>
                    </div> 
                    <div class="col-lg-4 px-4 py-4">
                        <i class="fas fa-atlas"></i><br>
                        <h4>Studying</h4>
                    </div>
                </div>
            </div>
            
    </div>

    <div id="reach" class="footer">
        <h3>Reach Me</h3>
        <a class="fab fa-instagram" href="https://instagram.com/gpersable" target="_blank"></a>
        <a class="fab fa-twitter" href="https://twitter.com/gpersable" target="_blank"></a>
        <a class="fab fa-telegram" href="https://t.me/gpersable" target="_blank"></a>
    </div>


    <!-- Bootstrap Scripts -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Smooth Scrolling Script -->
<script>
    $(document).ready(function () {

        // Add smooth scrolling to all links
        $("a").on('click', function (event) {
    
        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
       // Prevent default anchor click behavior
        event.preventDefault();
    
        // Store hash
        var hash = this.hash;
    
        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
            scrollTop: $(hash).offset().top
        }, 600, function () {
    
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
        });
    } // End if
    });
    
    });
</script>
    
</body>

</html>