{% extends 'myprofile/base.html' %}

{% block title %}Delete Matkul {{ matkul.nama_mata_kuliah }}{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="matkul">

        <!-- Nav Bar -->
        {% include 'myprofile/navbar.html' %}
        
        <form method="POST">
            {% csrf_token %}
            <h3>Are you sure you want to delete {{ matkul.nama_mata_kuliah }}?</h3>
            <center><button class="btn btn-danger" type="submit">Confirm</button>
            <a href="{% url 'matakuliah:delete' %}" class="btn btn-primary">Go Back</a></center>
        </form>
            
    </div>
</div>

{% endblock %}