{% extends 'myprofile/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Delete Mata Kuliah{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="matkul">

        <!-- Nav Bar -->
        {% include 'myprofile/navbar.html' %}

        <h1>Delete Mata Kuliah</h1>

        {% for matkul in matkuls %}
        <ul class="list-matkul list-matkul-delete">
            
            <div class="row">
                <div class="col-md-10">
                    <h4><a class="matkul-title" href="{% url 'matakuliah:detail_matkul' matkul.id %}">{{ matkul.nama_mata_kuliah }} ({{ matkul.jumlah_sks }} SKS)</a></h4>
                    <p><a class="matkul-attr">Dosen: </a>{{ matkul.dosen }}</p>
                </div>
                <div class="col-md-2 details-btn">
                    <a href="{% url 'matakuliah:delete_matkul' matkul.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
            
        </ul>
        {% endfor %}
    </div>
</div>

{% endblock %}