{% extends 'myprofile/base.html' %}

{% block title %}Matkul Gita | {{ detail.nama_mata_kuliah }}{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="matkul">

        <!-- Nav Bar -->
        {% include 'myprofile/navbar.html' %}

        <h1>Mata Kuliah</h1>

        <ul class="list-matkul">
            <div class="row">
                <div class="col-md-12">
                    <h4>{{ detail.nama_mata_kuliah }}</h4><br>
                    <p><a class="matkul-attr">Dosen: </a>{{ detail.dosen }}</p>
                    <p><a class="matkul-attr">Jumlah SKS: </a>{{ detail.jumlah_sks }}</p>
                    <p><a class="matkul-attr">Deskripsi: </a>{{ detail.deskripsi }}</p>
                    <p><a class="matkul-attr">Semester: </a>{{ detail.semester }}</p>
                    <p><a class="matkul-attr">Tahun Ajar: </a>{{ detail.tahun_ajar }}</p>
                    <p><a class="matkul-attr">Ruang Kelas: </a>{{ detail.ruang }}</p>
                </div>
            </div>
        </ul>
        <ul class="list-matkul">
            <div class="row">
                <div class="col-md-12">
                    <h4>Tugas</h4><br>
                    {% for a_tugas in tugas_matkul %}

                    <h5>{{ a_tugas.tugas }}</h5>
                    <p>DEADLINE: {{ a_tugas.deadline }}</p>

                    
                    {% endfor %}
                </div>
            </div>
        </ul>
        
    </div>
</div>

{% endblock %}