{% extends 'myprofile/base.html' %}

{% load crispy_forms_tags %}

{% block title %} Gita's Activities {% endblock %}

{% block content %}

<div class="activities">

    {% include 'myprofile/navbar.html' %}

    <h1>Activities</h1>
    <p>Join me do some activities by putting your name on the list(s).</p>
    <a class="btn btn-add-activity mb-4" href="{% url 'activities:add_activity' %}">Add an Activity</a>


    <div class="row">
        {% for activity in activities %}
        <div class="col-lg-4 col-md-6">
            <div class="card activity-column">
                <div class="card-header">
                    <h3>{{ activity.nama_kegiatan }}</h3>
                </div>
                <div class="card-body">
                    <h5>{{ activity.deskripsi_singkat_kegiatan }}</h5><br>

                    <p class="participants">Participants:</p>

                    {% for member in members %}
                    {% if member.kegiatan == activity %}
                    <ul>
                        <div class="row">
                            <div class="col">
                                <li>{{ member.nama_peserta }}</li>
                            </div>
                            <div class="col">
                                <div class="float-right">
                                    <form method="POST"
                                        action="{% url 'activities:delete_member' member.id %}">
                                        {% csrf_token %}
                                        <button type="submit">&times;</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </ul>
                    {% endif %}
                    {% endfor %}

                    <a class="btn btn-activity" href="{% url 'activities:add_activity_member' activity.id %}">I want to
                        join</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}