{% extends 'myprofile/base.html' %}

{% load crispy_forms_tags %}

{% block title %} Add an Activity {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="add-activity">

        {% include 'myprofile/navbar.html' %}

        <div class="add-activity-900">
            <h1>Add an Activity</h1>
            <div class="add-activity-form">
                <form method="POST">
                    {% csrf_token %}

                    {{ add_activity_form|crispy }}

                    <button type="submit" class="btn btn-add-activity">Add</button>
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}