{% extends 'myprofile/base.html' %}

{% load crispy_forms_tags %}

{% block title %} Join me on {{ activity.nama_kegiatan }} {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="add-activity">

        {% include 'myprofile/navbar.html' %}

        <div class="add-activity-900">

            <h1>Join me on {{ activity.nama_kegiatan }}</h1><br>

        <h4>{{ activity.deskripsi_singkat_kegiatan }}</h4><br>

        <div class="add-activity-form">
            <form method="POST">
                {% csrf_token %}
                <div class="main-content-form container-fluid">
                    <div class="form-group">
                        {{ add_member_form }}
                    </div>
                    <button type="submit" class="btn btn-add-activity">Add me to the list!</button>
                </div>
            </form>
        </div>

        </div>

    </div>

</div>


{% endblock %}