html {
    scroll-behavior: smooth;
}

body {
    background-color: white; 
    margin: 0;
}

.montserrat {
    font-family: Montserrat;
}

.peachpuff {
    color: peachpuff;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1504858700536-882c978a3464?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    padding: 7rem;
    text-align: center;
    height: 900px;
    color: peachpuff;
    font-family: Montserrat;
}

.fa-share {
    float: right;
    color: peachpuff;
    font-size: 1.5rem;
    transition: color .5s;
}

.fa-share:hover {
    text-decoration: none;
    color: #634978;
    transition: color .5s;
}

.header .btn {
    border: 1px solid peachpuff;
    background-color: peachpuff;
    color: #634978;
    font-family: Montserrat;
    font-size: 1.2rem;
}

.header .btn:hover {
    border: 1px solid peachpuff;
    background-color: transparent;
    color: peachpuff;
    padding: 0.375rem 0.75rem;
}

.header img {
    border-radius:100%; 
    margin: 20px;
}

.header p {
    font-size: 1.5rem;
    max-width: 80%;
    margin: 1rem auto;
}

.desc {
    background-color: #634978; 
    color: peachpuff; 
    padding: 10rem;
    font-family: Open Sans;
    text-align: center;
}

.desc h3 {
    margin-bottom: 1.5rem;
    font-family: Montserrat;
}

.fa-seedling {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.education {
    background-color: peachpuff; 
    color: #634978; 
    padding: 10rem; 
    font-family: Open Sans;
    font-size: 1.2rem;
}

.education table {
    margin: 0 auto;
}

.ui {
    background-color: rgb(253, 175, 144);
}

.sman3 {
    background-color: rgb(253, 199, 178);
}

.nassa {
    background-color: rgb(255, 213, 196);
}

.first-td {
    padding: 20px;
}

.second-td {
    padding: 7px 20px 7px 2rem;
}

.sub-td {
    font-size: 0.8rem;
    color: #89729c !important;
    margin-top: -7%;
    margin-bottom: auto;
}

.education i, .hobby i {
    font-size: 3rem;
    margin: 1.5rem 1.5rem 1.5rem 0;
}

.hobby {
    background-color: lightsalmon; 
    color: #634978; 
    padding: 10rem; 
    font-family: Open Sans;
}

.hobbies {
    text-align: center;
}

.hobbies i {
    font-size: 4rem;
    margin: 1.5rem !important;
}

.footer {
    background-color: #634978; 
    padding:2rem; 
    text-align: center; 
    font-family: Montserrat;
    font-size: 2rem;
    color: peachpuff;
}

.footer a {
    color: peachpuff;
    margin: 1rem;
    transition: color .5s;
}

.footer a:hover {
    color: lightsalmon;
    text-decoration: none;
    transition: color .5s;
}